.App {
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 10%;
}

.card {
  width: 48%;
  height: 200px;
  background-color: grey;
  margin: 10px;
}

.cardFullWidth {
  height: 200px;
  background-color: green;
  margin: 10px;
  width: 100%;

  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

/* Standard syntax */
@keyframes example {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}
